
#map {
  margin-top:0%;
  box-shadow: 0 8px 19px -8px #222;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E5E5E5;
  border-radius: 6px; 
  }



body {
    /*background-color: #848484;*/
	/*background-image: url("../img/bg.jpg");*/
}
	


#gestures {
    
	box-shadow: 0 8px 19px -8px #222;
	color: white;
	background-color: #151515;
	opacity:0.95;
	border: 1px solid #151515;
	border-radius: 6px;
}

#select, #zoom, #pan, #close,  #lm, #open_menu{
	border: 1px solid #E5E5E5;
	border-radius: 6px;
}


#load{
position:absolute; 
bottom:50%; 
right:50%;
}

#voice_help{
position:absolute; 
color:white;
background-color:black;
opacity:0.9;
bottom:60px; 
right:320px;
min-width:300px;
height:30px;
box-shadow: 0 8px 19px -8px #222;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 6px; 
}

#final_command{
position:absolute; 
color:white;
background-color:black;
opacity:0.9;
bottom:60px; 
right:1%;
min-width:300px;
height:30px;
box-shadow: 0 8px 19px -8px #222;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 6px; 

}

#skeleton{
position:absolute; 
bottom:50px; 
right:59%;
width:1%; 
}
 
a:hover {
 cursor:pointer;
} 
  
.popover {
	background-color: black !important;
	opacity:0.9 !important;
}
  
.popover-title {
    color: white;
	background-color: black !important;
}
.popover-content {
    color: white;
	background: black;
}

.tooltip-inner {
	opacity:0.9;
}

#brand{
width:200px;
height:30px;
margin-top: -7px;
}

